<!DOCTYPE html>
<html>
<head>
    <title>{{ page_title }}</title>
    <style>
        body { font-family: sans-serif; text-align: center; padding-top: >
    </style>
</head>
<body>
    <h1>{{ heading_text }}</h1>
    <p>Halaman ini digenerate otomatis oleh <b>ANSIBLE ROLES</b>.</p>
    <p>Server Hostname: {{ ansible_hostname }}</p>
</body>
</html>



